{% extends "base.html" %}
{% load static %}

{% block leftFrameJS_CSS %}
<!-- Menu dependencies -->
  <!-- Core + Skin CSS -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menu.css">
  
  <!-- Source File -->
  <script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
<!-- End Menu dependencies -->
{% endblock %}

{% block centerFrameJS_CSS %}
  <!-- Tabview dependencies -->
    <!-- Sam Skin CSS for TabView -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/tabview/assets/skins/sam/tabview.css">

    <!-- Source file for TabView -->
    <script src="http://yui.yahooapis.com/2.9.0/build/tabview/tabview-min.js"></script>
  <!-- End Tabview dependencies -->
  
  <!-- Connection Manager dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/connection/connection-min.js"></script> 
  <!-- End Connection Manager dependencies -->
  
  <!-- button dependencies -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/button/assets/skins/sam/button.css">
  <script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
  
  <!-- dialog dependencies -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/container/assets/skins/sam/container.css">
  <script src="http://yui.yahooapis.com/2.9.0/build/container/container-min.js"></script>
  
  <!-- datatable dependencies -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/datatable/assets/skins/sam/datatable.css" />
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/json/json-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datasource/datasource-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/event-delegate/event-delegate-min.js"></script>
  <script type="text/javascript" src="http://yui.yahooapis.com/2.9.0/build/datatable/datatable-min.js"></script>
  <!-- OPTIONAL: Get Utility (enables dynamic script nodes for DataSource) -->
  <script src="http://yui.yahooapis.com/2.9.0/build/get/get-min.js"></script>
  
  <!-- Used for humanize strings -->
  <!-- Source: https://raw.github.com/jprichardson/string.js/master/lib/string.min.js" -->
  <script src="{% static "js/string.min.js" %}"></script>
  
  <!-- custom javascript -->
  <script src="{% static "js/home/home.js" %}"></script>
{% endblock %}

{% block leftFrame %}
  <div id="navmenu" class="yuimenu">
  </div>
{% endblock %}

{% block centerFrame %}
  <div id="tabs" class="yui-navset yui-pe">
    <ul class="yui-nav">
	<li class="selected"><a href="#tab1"><em>HTTPRequest</em></a></li>
	<li><a href="#tab2"><em>Datatable</em></a></li>
    </ul>            
    <div class="yui-content">
	<div id="tab1-content">
	  <p>No results yet</p>
	</div>
	<div id="tab2-content">
	  <p>No results yet</p>
	</div>
	<div id="tab3-content">
	  <p>No results yet</p>
	</div>
    </div>
  </div>
{% endblock %}

{% block leftFrameJS %}{% endblock %}
{% block centerFrameJS %}{% endblock %}
