{% extends "base.html" %}
{% load static %}

{% block leftFrameJS_CSS %}
<!-- Menu dependencies -->
  <!-- Core + Skin CSS -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/menu/assets/skins/sam/menu.css">
  
  <!-- Source File -->
  <script src="http://yui.yahooapis.com/2.9.0/build/menu/menu-min.js"></script>
  
  <!-- custom javascript -->
  <script src="{% static "js/home/menu.js" %}"></script>
<!-- End Menu dependencies -->
{% endblock %}

{% block leftFrame %}
<div id="navmenu" class="yuimenu">
  <div class="bd">
    <ul class="first-of-type">
      <li class="yuimenuitem">
	<a class="yuimenuitemlabel"
	  onclick="javascript:loadHTTPRequestExamples()">HTTPRequest</a>
      </li>
      <li class="yuimenuitem">
	<a class="yuimenuitemlabel"
	  onclick="loadDataTableExample()">DataTable</a>
      </li>
    </ul>
  </div>
</div>
{% endblock %}

{% block leftFrameJS %}{% endblock %}