{% extends "base.html" %}

{% block centerFrameJS_CSS %}
  <!-- Tabview dependencies -->
    <!-- Sam Skin CSS for TabView -->
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/tabview/assets/skins/sam/tabview.css">

    <!-- Source file for TabView -->
    <script src="http://yui.yahooapis.com/2.9.0/build/tabview/tabview-min.js"></script>
  <!-- End Tabview dependencies -->
  
  <!-- Connection Manager dependencies -->
    <script src="http://yui.yahooapis.com/2.9.0/build/connection/connection-min.js"></script> 
  <!-- End Connection Manager dependencies -->
  
  <!-- button dependencies -->
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/button/assets/skins/sam/button.css">
  <script src="http://yui.yahooapis.com/2.9.0/build/button/button-min.js"></script>
  
  <!-- dialog dependencies -->jQuery
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.9.0/build/container/assets/skins/sam/container.css">
  <script src="http://yui.yahooapis.com/2.9.0/build/container/container-min.js"></script>
{% endblock %}



{% block centerFrame %}
<div id="tabs" class="yui-navset">
  <ul class="yui-nav">
      <li class="selected"><a href="#tab1"><em>Get</em></a></li>
      <li><a href="#tab2"><em>Results</em></a></li>
  </ul>            
  <div class="yui-content">
      <div>
	<button id="btnGetCategories">
	<button id="btnRequestError">
      </div>
      <div><p>No results yet</p></div>
  </div>
</div>
<div id="error-dialog" class="yui-pe">
  <div class="hd">An error ocurred</div>
    <div id="error-content" class="bd">
    </div>
  </div>
</div>
{% endblock %}

{% block centerFrameJS %}
<script language="javascript">
  var widgets = {};
  var witgedId = "";
  
  // onDomReady
  YAHOO.util.Event.onDOMReady(function () {
    // Error dialog
    witgedId = "error-dialog";
    
    // Remove progressively enhanced content class, just before creating the module 
    YAHOO.util.Dom.removeClass(witgedId, "yui-pe"); 
    
    // Instantiate the Dialog
    widgets[witgedId] = new YAHOO.widget.SimpleDialog(witgedId, { 
      width: "400px",
      fixedcenter: true,
      visible: false,
      draggable: true,
      close: true,
      text: "Dialog text",
      icon: YAHOO.widget.SimpleDialog.ICON_ALARM,
      constraintoviewport: true,
      buttons: [ { text:"OK", handler:handleOK, isDefault:true } ]
    } );
    widgets[witgedId].render();
    
    ////////////////////////////////////////////////////////////////
    // Create tabs (TabView)
    witgedId = "tabs";
    widgets[witgedId] = new YAHOO.widget.TabView(witgedId);
    widgets["tabs"].getTab(1).set('disabled', true);
    widgets[witgedId].render();
  });
  
  YAHOO.util.Event.onContentReady("btnGetCategories", function () {
    // Create GetCategories button
    witgedId = "btnGetCategories";
    widgets[witgedId] = new YAHOO.widget.Button(witgedId, {
        checked: false, // Attribute override 
        label: "Get Categories"
    });
    widgets[witgedId].on("click", getCategories);
    
    // Create RequestError button
    witgedId = "btnRequestError";
    widgets[witgedId] = new YAHOO.widget.Button(witgedId, {
        checked: false, // Attribute override 
        label: "Test request error"
    });
    widgets[witgedId].on("click", getRequestError);
  });
 
  //////////////////////////////////////////////
  var handleOK = function () {
      this.hide();
  }
  
  var handleFailure = function(o){
    var content = "<p>An error ocurred when trying to read: <br/>" +  o.argument.url + "</p>";
    content += "<ul><li>Transaction id: " + o.tId + "</li>";
    content += "<li>HTTP status: " + o.status + "</li>";
    content += "<li>Status code message: " + o.statusText + "</li></ul>";

    // Display dialog
    widgetId = "error-dialog";
    widgets[widgetId].setBody(content);
    widgets[widgetId].show();
  }

  
  function getCategories() {
    var sUrl = "/infoxchange/api/v1/categories/?format=json";
    var transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, {
      success: listCategories,
      failure: handleFailure,
      argument: { url: sUrl }
    }, null);
  }
  
  function getRequestError() {
    var sUrl = "/error";
    var transaction = YAHOO.util.Connect.asyncRequest('GET', sUrl, {
      success: listCategories,
      failure: handleFailure,
      argument: { url: sUrl }
    }, null);
  }
  
  
  function listCategories(response) {
    var tab = widgets["tabs"].getTab(1);
    tab.set('content', '<p>' + response.responseText + '</p>');
    widgets["tabs"].getTab(1).set('disabled', false);
    widgets["tabs"].set('activeIndex', 1);
  }
</script>
{% endblock %}
